/* Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sana", sans-serif;
}

body{
    background-color: white;
    height: 100vh;
    text-align: center;
}

.interface{
    max-width: 1180px;
    margin: 0 auto;
}

/* Titulo */
header{
    padding: 110px 4%;
       
    background-image: linear-gradient(black, transparent);
}

.Titulo{
    font-size: 23px;
    color: white;
}

/* Opções */
.topo-interface{
    padding: 40px 4%;
}

select{
    margin: 20px;
    color: white;
    background-color: rgb(5, 0, 29);
}

/* Mapa */

canvas{
    border: 2px solid black;
    margin-bottom: 30px;
    align-items: center;
    background-color: rgb(214, 214, 214);
}
