/* Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sana", sans-serif;
}

body {
    text-align: center;
    height: 100vh;
    background-color: #999999;
  }

h1 {
    margin-top: 20px;
    color: #fdfdfd;
}

.interface{
    max-width: 1180px;
    margin: 0 auto;
}

/* Titulo */

header{
    padding: 75px 4%;
    background-image: linear-gradient(black, transparent);
}

.Titulo{
    font-size: 23px;
    color: white;
}

/* Opções */

.topo-interface{
    padding: 40px 4%;
}

select{
    margin: 20px;
    color: white;
    background-color: rgb(5, 0, 29);
}

/* Slides */

.conteiner-slider{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.conteiner-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.slider{
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    box-shadow: #000 0px 0px 10px;
    border-radius: 10px;
}

.on{
    opacity: 1;
}

#prev-button, #next-button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img{
    width: 100%;
    height: 100%;
}

#prev-button{
    transform: rotate(180deg);
}

/* Mapa */

.Mapa {
    padding-bottom: 35px;
}

#controls {
    margin-top: 20px;
}
  
label, select, button {
    margin: 5px;
}
  
canvas {
    border: 1px solid #000;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}
  
